<template>

    <v-card color="grey lighten-4" flat>
      <v-card-text>

      <v-card-text>
        <h1 class="title">Create New Post</h1>
      </v-card-text>

        <v-container fluid>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                name="input-1"
                label="Write your post here..."
                textarea
              ></v-text-field>
            </v-flex>
          </v-layout>

        <v-card-actions>
           <v-btn> Cancel</v-btn>
           <v-btn color="primary">Add Photo</v-btn>
           <v-btn color="primary">Add Post</v-btn>
        </v-card-actions>

        </v-container>
      </v-card-text>
    </v-card>

</template>
