<template>
<v-app id="inspire" class="teal lighten-5">

  <!-- toolbar -->
  <v-layout row>
    <v-flex>
      <v-card flat style="margin:0px 0 20px 0;">
        <v-toolbar class="teal lighten-2" fixed app>
          <v-card align-center color="teal lighten-2" flat style="padding-top:5px; margin: auto;
    width: 50%;">
            <div><img src="../assets/privato_logo_trans.png"></div>
          </v-card>
          <v-btn color="pink" dark small absolute bottom right fab>
            <v-avatar color="teal darken-3">
              <v-icon dark medium>account_circle</v-icon>
            </v-avatar>
          </v-btn>
        </v-toolbar>
      </v-card>
    </v-flex>
  </v-layout>

  <v-container fluid style="min-height: 0; margin:50px 0 0 0;" grid-list-lg>
    <v-card flat color="teal lighten-5">

      <v-layout column>
        <!-- card1 -->
        <v-flex xs12 flat>
          <v-expansion-panel id="feed-expansion">
            <v-expansion-panel-content v-for="(item,i) in 1" :key="i">
              <div slot="header">Make a Post</div>
              <v-card color="grey lighten-5">
                <v-card-text>
                  <v-container fluid>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field id="feed-post" name="input-1" label="Write your post here.." v-model="post"></v-text-field>
                        <v-card-actions>
                          <v-btn> Cancel</v-btn>
                          <v-btn color="primary" v-on:click.native="uploadPhoto">Add Photo</v-btn>
                          <v-btn id="feed-btn-post" color="primary" v-on:click.native="makePost">Add Post</v-btn>
                        </v-card-actions>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <v-flex xs12 sm6 v-bind:key="post.id" v-for="post in posts">
          <v-card color="grey lighten-5">
            <v-card-media></v-card-media>
            <v-card-title primary-title>
              <v-avatar color="blue-grey darken-4">
                <span class="white--text headline">{{post.data.name[0]}}</span>
              </v-avatar>
              <div style="padding-left:15px" class="headline">{{post.data.name}}</div>

            </v-card-title>
            <v-card-title>
              <span class="grey--text">{{new Date(post.data.timestamp).toLocaleString()}}</span>
            </v-card-title>
            <v-card-text>
              <div id="post" style="padding-top:15px">{{post.data.message}}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn flat>
                <v-icon>thumb_up</v-icon>
                <span style="padding-left:5px">Like</span>
              </v-btn>
              <v-btn flat>
                <v-icon>comment</v-icon>
                <span style="padding-left:5px">Comment</span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

      <v-flex xs4>
        <v-card>
          <v-card-media height="200px" src="http://cetus.ucsd.edu/images/technologies_Software_37.jpg">
          </v-card-media>
            <v-card-title>
              <span class="grey--text text-sm-left">Paid Advertisement</span>
              <h1>Become a Triton!</h1><br>
            </v-card-title>
        </v-card>
      </v-flex>

      </v-layout>

    </v-card>
  </v-container>

  <!-- bottom nav -->
  <v-card dark style="margin:60px 0 0 0;">
    <v-bottom-nav :value="true" fixed app>
      <v-btn dark to="Feed">
        <v-icon>home</v-icon>
      </v-btn >
      <v-btn id="feed-search" dark to="Search">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn dark to="Notifications">
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn id="feed-settings" dark to="Settings">
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-card>
</v-app>
</template>

<script>
import axios from 'axios'
// import { db } from '../server'

/** The feed displays the user's posts and their friend's posts. It also fetches
 * posts when the component is created.
 * @module Feed
 * @name feed
 * @property {Object} posts - list of posts
 * @property {Object} errors - list of errors
 * @property {String} post - the contents of the post
 */
export default {
  data () {
    return {
      posts: [], // this is
      errors: [],
      post: ''
    }
  },

  // Fetches posts when the component is created.
  created () {
    console.log('feed created')
    this.updateHelper()
    setInterval(this.updateHelper, 5000)
  },

  methods: {

    /**
    * Posts a user created post to the database.
    * @method postToDatabase
    */
    postToDatabase: function () {},

    /**
    * Reads files.
    * @method readFile
    */
    readFile: function () {
      if (this.files && this.files[0]) {
        var FR = new FileReader()
        FR.addEventListener('load', function (e) {
          document.getElementById('img').src = e.target.result
          document.getElementById('b64').innerHTML = e.target.result
        })
        FR.readAsDataURL(this.files[0])
      }
    },

    /**
    * Uploads a photo.
    * @method uploadPhoto
    */
    uploadPhoto: function () {
      // TODO: whats the elementID of photos in the post
      // document.getElementById("inp").addEventListener("change", readFile);
      this.readFile()
    },

    /**
    * Makes a post using the contents of the user's post (message) and adds a
    * timestamp to it. It updates upon success.
    * @method makePost
    */
    makePost: function () {
      let userProfile = JSON.parse(localStorage.getItem('userProfile'))

      this.makePostHelper(
        userProfile.name,
        this.post,
        userProfile.uid,
        new Date().getTime()
      )
        .then(() => {
          this.post = ''
          this.updateHelper()
        })
        .catch(err => {
          // eslint-disable-next-line no-undef
          trackJs.track('could not make a post')
          console.error(err)
        })
    },

    /**
    * Helper method for deleting a post
    * @method deletePostHelper
    * @param {String} id - id of the post
    */
    deletePostHelper: function (id) {
      return new Promise((resolve, reject) => {
        axios.delete('/api/posts', {id: id}).then(result => {
          resolve(result)
        }).catch(err => {
          reject(err)
        })
      })
    },

    /**
    * Helper method for making a post
    * @method makePostHelper
    * @param {String} name - name of the user that is making the post
    * @param {String} post - message / contents of the post
    * @param {String} uid - user id of the user that is making the post
    * @param {Object} time - the time that the user is making the post
    */
    makePostHelper: function (name, post, uid, time) {
      return new Promise((resolve, reject) => {
        axios.post('/api/posts', {
          name: name,
          message: post,
          uid: uid,
          timestamp: time
        })
          .then((id) => {
            resolve(id)
          })
          .catch(err => {
            reject(err)
          })
      })
    },

    /**
    * Updates the posts.
    * @method update
    */
    update: function () {
      return new Promise((resolve, reject) => {
        let uid = JSON.parse(localStorage.getItem('userProfile')).uid
        axios.get('/api/posts/' + uid)
          .then((data) => {
            if (data.length !== 0) { resolve(data.data) }
          })
          .catch(err => {
            reject(err)
          })
      })
    },

    /**
    * Helper method for updating posts.
    * @method updateHelper
    */
    updateHelper: function () {
      this.update().then(data => {
        this.posts = data
      }).catch(err => {
        // eslint-disable-next-line no-undef
        trackJs.track('could not update feed')
        console.error(err)
      })
    }

  }
}
</script>
