<template>
 <div id = "app">
  <v-app id = "inspire">
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card color = "teal lighten-5" width = "415" height = 525>
      <v-toolbar color = "teal lighten-1">
    <div id = "privato">
       <img src = "../assets/privato_logo_trans.png">
    </div>
  </v-toolbar>
         <div id = "wrapper">
          &nbsp;
    <div id = "header">
            <div id = "title">
        <h2> <b> Luke Tribble </b> </h2>
      </div>
        <div id = "image">
          <v-avatar color = "red">
      <span class="white--text headline"> L</span>
       </v-avatar>
     </div>
                <v-flex xs12 sm4 text-xs-center>
                 <div id = "button">
                  <v-btn small color = "white"> <b> - Remove Friend </b> </v-btn>
                 </div>
                </v-flex>
           </div>
          </div>
  &nbsp;
 &nbsp;
 <div id = "editpost">
  <v-btn small color = "primary"> Edit Post </v-btn>
 </div>
    <div id = "deletepost">
      <v-btn small color = "primary"> Delete Post </v-btn>
     </div>
    <v-container>
   &nbsp;
  <v-card width = 280>
      <v-card height = 140>
     <div id = "content">
       <v-avatar color = "red">
      <span class="white--text headline"> L</span>
       </v-avatar>
   </div>
    <div id = "cardtitle">
   <h2>  Luke Tribble  </h2>
    </div>
    <p class = "textstatus"> Had a great day today! </p>
    <div id = "likecomment">
            <v-btn small>  Like </v-btn>
      <v-btn small> Comment </v-btn>
    </div>
   </v-card>
      </v-card>
     </v-container>
   <div id = "bottom">
     <v-toolbar color = "black">
   <v-btn small flat dark to="Feed" >  <v-icon size = 20>home</v-icon> </v-btn>
   <v-btn small flat dark to="Search" >  <v-icon size = 20>search</v-icon> </v-btn>
   <div id = "bell">
   <v-btn small flat dark to="Notifications" >
      <v-icon size = 20>notifications</v-icon>
      </v-btn>
   </div>
   <div id ="set">
   <v-btn small flat dark to="Settings" >
        <v-icon size = 20>settings</v-icon>
   </v-btn>
   </div>
   </v-toolbar>
    </div>
     <div id = "postnum">
       <h2 class = "posts"> There are no more posts! </h2>
      </div>
      </v-card>
    </v-flex>
  </v-layout>
  </v-app>
  </div>
</template>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#deletepost{
  position: relative;
  left: 225px;
  top: -40px;
}
#editpost{
  position: relative;
  left: 108px;
}
.posts{
  position: relative;
  left: -6px;
  bottom: 65px;
}
#postnum{
  color: #3c3c3c
}
#likecomment{
  position: relative;
  right: -35px;
  top: 5px;
}
.textstatus{
  position: relative;
  top: 15px;
  left: 25px;
}
#cardtitle{
  position: relative;
  top: -35px;
  left: 25px;
}
#content{
  position: relative;
  left: 15px;
  top: 8px;
}
#bottom{
  position: relative;
  top: 40px;
}
.container{
 position: relative;
 left: 60px;
 top: -40px;
}

#lockdiv{
  position: relative;
  top: 10px;
  right: 69px;
}
.locktext{
  position: relative;
  left: 133px;

}
.locktext2{
  position: relative;
  bottom: 15px;
  right: -118px;
}
#title{
  position: relative;
  right: -3px;
}
#privato{
  position: relative;
  left: 170px;
  top: 0px;
}
#wrapper{
  margin: 0;
  padding: 0;
}
#shape{
  padding-left: 70px;
  padding-top: -95px;
  position: relative;
}
h3{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 12px;
 font-style: normal;
 font-variant: normal;
 font-weight: 500;
 line-height: 26.4px;
 margin: auto;
 padding-top: -70px;
 position: relative;
 top: 5px;
}
#image{
  padding-left: 10px;
  margin-bottom: -15px;
  position: relative;
  left: 30px;
  top: 8px;
}

#lock{
 position: relative;
 top: -5px;
 left: 190px;
}
h2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 24px;
 font-style: normal;
 font-variant: normal;
 font-weight: 500;
 line-height: 26.4px;
 text-align: center;
  padding-top: 5px;
 display:block;
  clear:both;
  margin-bottom: -30px;
 margin-left: 27.5px;
  position: relative;
}
h1, {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#button{
  padding-left: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
  bottom: 0px;
  right: -50px;
}
#header{
  position: relative;
  top: 5px;
}
</style>
