<template>

  <v-app >
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>

      <v-flex xs12 text-xs-center>
        <v-card style="margin:100px 0px 20px 0px;" flat color="grey lighten-5">
        <v-card-text >
          <h1 class="title">Welcome to</h1>
          <br/>
          <h1>Privato</h1>
        </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs10 offset-xs1 flat>
          <v-card style="margin:0px 0px 20px 0px;" flat>
          <v-text-field id="login-email" v-model="email"
                    label="Email"
                  ></v-text-field>
                  <v-text-field id="login-pw"
                    v-model="password"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'password' : 'text'"
                    name="input-10-1"
                    label="Enter your password"
                    hint="At least 8 characters"
                    min="8"
                  ></v-text-field>
          </v-card>
      </v-flex>

      <v-flex xs10 offset-xs1 >
            <v-card color="grey lighten-5" flat>
            <v-btn id='login-btn' small-color="primary" v-on:click.native="signIn" to="Feed">Login</v-btn>
            <v-btn small-color="primary" to="Signup">Sign up</v-btn>

            <v-card-text>
              <h2>Your Data. Your Privacy.</h2>
            </v-card-text>
            </v-card>
        </v-flex>

    </v-layout>
  </v-container>
  </v-app>

</template>

<script>

import firebase from 'firebase'
import axios from 'axios'

/** Login is used for logging into Privato. It has properties required for a
 * valid account and a method for actually logging in, verified through authentication.
 * @module login
 * @name login
 * @property {String} email - the email address associated with the account
 * @property {String} password - the password associated with the email and account
 * @property {Boolean} e1 - whether the password field should be visible
 */
export default {
  name: 'login',
  data: function () {
    return {
      email: '',
      password: '',
      e1: true
    }
  },
  created () {
    if (firebase.auth().currentUser) this.$router.replace('feed')
  },
  methods: {

    /**
     * Signs into an existing account using Firebase authentication when users
     * provide an email address and a password. If successful, routes to the home
     * page / feed. Else, raises an alert for unsuccessful login.
     * @method signIn
     */
    signIn: function () {
      this.fireBaseSignIn(this.email, this.password)
        .then((user) => {
          // alert('Successfully logged in')
          console.log(user.user.uid)
          this.getUserProfile(user).then(userProfile => {
            console.log(userProfile.data)
            localStorage.setItem('userProfile', JSON.stringify(userProfile.data))
            this.$router.replace('feed')
          }).catch(err => {
            console.error(err)
          })
        }, (err) => {
          // eslint-disable-next-line no-undef
          trackJs.track('sign in error')
          alert('Error: ' + err.message)
        })
    },

    /**
     * Signs into an existing account using Firebase authentication when users
     * provide an email address and a password. If successful, routes to the home
     * page / feed. Else, raises an alert for unsuccessful login.
     * @method fireBaseSignIn
     * @param {String} email - the email address associated with the account
     * @param {String} password - the password associated with the email and account
     */
    fireBaseSignIn: function (email, password) {
      return new Promise((resolve, reject) => {
        firebase.auth().signInWithEmailAndPassword(email, password)
          .then((user) => {
            resolve(user)
          }, (err) => {
            reject(err)
          })
      })
    },

    /**
     * Grabs the userprofile for the user.
     * @method getUserProfile
     * @param {Object} user - the user returned from firebase db
     */
    getUserProfile: function (user) {
      return new Promise((resolve, reject) => {
        axios.get('/api/users/' + user.user.uid).then(userProfile => {
          resolve(userProfile)
        }).catch(err => {
          reject(err)
        })
      })
    }
  }
}
</script>
