<template>
<v-app id="inspire" class="grey lighten-5">

  <!-- toolbar -->
  <v-layout row>
    <v-flex>
      <v-card flat style="margin:0px 0 20px 0;">
        <v-toolbar class="teal lighten-2" fixed app>
          <v-card align-center color="teal lighten-2" flat style="padding-top:5px; margin: auto;
    width: 50%;">
            <div><img src="../assets/privato_logo_trans.png"></div>
          </v-card>
          <v-btn color="pink" dark small absolute bottom right fab>
            <v-avatar color="teal darken-3">
              <v-icon dark medium>account_circle</v-icon>
            </v-avatar>
          </v-btn>
        </v-toolbar>
      </v-card>
    </v-flex>
  </v-layout>

  <!-- bottom nav -->
  <v-card dark style="margin:60px 0 0 0;">
    <v-bottom-nav :value="true" fixed app>
      <v-btn dark to="Feed">
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn dark to="Search">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn dark to="Notifications">
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn dark to="Settings">
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-card>
</v-app>
</template>
