<template>
<v-app id="inspire" class="grey lighten-5">

  <!-- toolbar -->
  <v-layout row>
    <v-flex>
      <v-card flat style="margin:0px 0 20px 0;">
        <v-toolbar class="teal lighten-2" fixed app>
          <v-card align-center color="teal lighten-2" flat style="padding-top:5px; margin: auto;
    width: 50%;">
            <div><img src="../assets/privato_logo_trans.png"></div>
          </v-card>
          <v-btn color="pink" dark small absolute bottom right fab>
            <v-avatar color="teal darken-3">
              <v-icon dark medium>account_circle</v-icon>
            </v-avatar>
          </v-btn>
        </v-toolbar>
      </v-card>
    </v-flex>
  </v-layout>

  <v-container fluid style="min-height: 0; margin:40px 0 0 0;" grid-list-lg>
    <v-card flat color="grey lighten-5">

      <v-layout column>
        <!-- card1 -->
        <v-flex xs12 flat>

          <v-text-field
            id="search-field"
            v-model="search"
            label="search"
          ></v-text-field>
          <v-btn id="search-btn" small-color="primary" v-on:click.native="searchForUser">Search</v-btn>

        </v-flex>
          </v-layout>
    </v-card>
    <v-card color="grey lighten-5" v-if="userFound">
            <v-card-media></v-card-media>
            <v-card-title primary-title>
              <v-avatar color="blue-grey darken-4">
                <span class="white--text headline">{{userFound.name[0]}}</span>
              </v-avatar>
              <div id="search-result" style="padding-left:15px" class="headline">{{userFound.name}}</div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat v-on:click.native="addFriend">
                <v-icon>check_circle</v-icon>
                <span style="padding-left:5px">Add</span>
              </v-btn>
            </v-card-actions>
          </v-card>
  </v-container>

  <!-- bottom nav -->
  <v-card dark style="margin:60px 0 0 0;">
    <v-bottom-nav :value="true" fixed app>
      <v-btn dark to="Feed">
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn dark to="Search">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn dark to="Notifications">
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn dark to="Settings">
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-card>
</v-app>
</template>

<script>
import axios from 'axios'

/** Search is used for searching for friends on Privato. It supports searching
 * for friends through email addresses and also also allows you to add friends.
 * add friends)
 * @module Search
 * @name search
 * @property {String} search - the email address that is being searched for
 * @property {Object} userFound - the user searched for (if found)
 */
export default {
  data: function () {
    return {
      search: '',
      userFound: undefined
    }
  },
  methods: {

    /**
     * Searches for a user given an email address. userFound is undefined is the
     * user searched for does not exist or if the user searched for the the
     * current user.
     * @method seachForUser
     */
    searchForUser: function () {
      axios.get('/api/useremail/' + this.search).then(user => {
        let userProfile = JSON.parse(localStorage.getItem('userProfile'))
        if (user.length !== 0) {
          if (user.data[0].uid === userProfile.uid) this.userFound = undefined
          else this.userFound = user.data[0]
        } else {
          this.userFound = undefined
        }
      }).catch(err => {
        // eslint-disable-next-line no-undef
        trackJs.track('error trying to search for user')
        console.error('user not found')
        console.error(err)
      })
    },

    /**
     * Adds the user searched for (if successfully found) as a friend.
     * Upon success, the current user will have the user searched for on their
     * friends list (if they were not already added before).
     * @method addFriend
     */
    addFriend: function () {
      console.log('adding friend...')
      let userProfile = JSON.parse(localStorage.getItem('userProfile'))
      if (userProfile.friends === undefined) {
        userProfile.friends = {}
      }

      if (!userProfile.friends[this.userFound.uid]) { userProfile.friends[this.userFound.uid] = true }

      axios.put('/api/users/' + userProfile.uid, userProfile).then(userProfile => {
        console.log(userProfile)
      }).catch(err => {
        // eslint-disable-next-line no-undef
        trackJs.track('error attempting to add friend')
        console.error(err)
      })
    }
  }
}
</script>
