<template>
<v-app>
  <v-layout row>
    <v-flex>
      <v-card flat style="margin:0px 0 20px 0;">
        <v-toolbar color="teal lighten-2" fixed app>
          <v-card align-center color="teal lighten-2" flat style="padding-top:5px; margin: auto;
    width: 50%;">
            <div><img src="../assets/privato_logo_trans.png"></div>
          </v-card>
        </v-toolbar>
      </v-card>
    </v-flex>
  </v-layout>

  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>

      <v-flex>
        <v-card flat style="margin:60px 0px 20px 0px;" color="grey lighten-5">
          <v-card-text>
            <h1 class="title">Settings</h1>
          </v-card-text>
        </v-card>
        <div>
          <v-btn large color="primary">Update</v-btn>
        </div>
        <div>
          <v-btn id="settings-logout" large color="primary" v-on:click.native="logout">Logout</v-btn>
        </div>
        <div>
          <v-btn large color="error">Delete</v-btn>
        </div>
        <div>
          <v-btn large color="primary" to="Upgrade">Upgrade</v-btn>
        </div>
        <div>
          <v-btn large color="primary">Contact Us</v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-container>

  <v-card dark>
    <v-bottom-nav :value="true" fixed app>
      <v-btn dark to="Feed">
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn dark to="Search">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn dark to="Notifications">
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn dark to="Settings">
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-card>

</v-app>
</template>

<style>
button {
  width: 200px;
}

.btn {
  width: 200px;
}
</style>

<script>
import firebase from 'firebase'

/** Settings consists of a list of options including: Update, Logout, Update,
 * Delete, Upgrade, and Contact Us
 * @module Settings
 * @name settings
 */
export default {
  name: 'settings',
  data: function () {
    return {}
  },
  methods: {

    /**
     * Logs out the user from their account using Firebase authentication and routes
     * to the login page.
     * @method logout
     */
    logout: function () {
      firebase.auth().signOut().then(() => {
        this.$router.replace('login')
      })
    }
  }
}
</script>
