<template>
  <v-app >
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>

      <v-flex xs12 text-xs-center>
        <v-card style="margin:100px 0px 20px 0px;" flat color="grey lighten-5">
        <v-card-text >
          <h1 class="title">Welcome to</h1>
          <br/>
          <h1>Privato - Sign Up</h1>
        </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs10 offset-xs1 flat>
          <v-card style="margin:0px 0px 20px 0px;" flat>
          <v-text-field v-model="email"
                    label="Email"
                  ></v-text-field>
                  <v-text-field v-model="fullname"
                  label="Full Name"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'password' : 'text'"
                    name="input-10-1"
                    label="Enter your password"
                    hint="At least 8 characters"
                    min="8"
                  ></v-text-field>
          </v-card>
      </v-flex>

      <v-flex xs10 offset-xs1 >
            <v-card color="grey lighten-5" flat>
            <v-btn small-color="primary" v-on:click.native="signUp">Sign Up</v-btn>

            <v-card-text>
              <h2>Your Data. Your Privacy.</h2>
            </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
  </v-container>
  </v-app>
</template>
<script>
import firebase from 'firebase'
import axios from 'axios'

/** SignUp is used for signin up for a new account for Privato. It also fetches
 * posts when the component is created.
 * @module SignUpModule
 * @name signUp
 * @property {String} email - the email address associated with the account.
 * @property {String} password - the password associated with the email and account
 * @property {Object} users - list of users
 * @property {Object} errors - list of errors
 * @property {String} fullname - the full name of the user
 * @property {Boolean} e1 - whether the password should be visible
 */
export default {
  name: 'signUp',
  data: function () {
    return {
      email: '',
      password: '',
      users: [],
      errors: [],
      fullname: '',
      e1: true
    }
  },
  // Fetches posts when the component is created.
  created () {
    console.log('sign up component created')
  },
  methods: {
    signUp: signUp,
    createAccount: createAccount
  }
}

/**
 * Signs up for an account using Firebase authentication when users
 * provide thier full name, an email address and a new password.
 * If successful, routes to the home page / feed (and the new user account is
 * stored on the Firebase database) Else, raises an alert for unsuccessful sign up.
 * @method signUp
 */
function signUp () {
  firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
    (user) => {
      axios.post('/api/users/0', {
        name: this.fullname,
        email: this.email,
        uid: user.user.uid,
        friends: []
      }).then(userProfile => {
        localStorage.setItem('userProfile', JSON.stringify(userProfile.data))
        this.$router.replace('feed')
      }).catch(err => {
        // eslint-disable-next-line no-undef
        trackJs.track('could not sign up')
        console.error(err)
      })
    },
    (err) => {
      // eslint-disable-next-line no-undef
      trackJs.track('firebase registration error')
      alert('Error: ' + err.message)
    }
  )
}

/**
 * Creates an account using Firebase authentication.
 * @method createAccount
 * @param {String} email - the email address associated with the account
 * @param {String} password - the password associated with the email and account
 */
function createAccount (email, password) {
  return new Promise((resolve, reject) => {
    firebase.auth().createUserWithEmailAndPassword(email, password)
      .then((user) => {
        resolve({result: true, user: user})
      })
      .catch((err) => {
        console.error(err)
        // eslint-disable-next-line prefer-promise-reject-errors
        reject({result: false, user: undefined})
      })
  })
}

</script>
