<template>
<v-app >

<v-layout row>
  <v-flex>
    <v-card flat style="margin:0px 0 20px 0;">
      <v-toolbar class="teal lighten-2" fixed app>
        <v-card align-center color="teal lighten-2" flat style="padding-top:5px; margin: auto;
  width: 50%;">
          <div><img src="../assets/privato_logo_trans.png"></div>
        </v-card>
      </v-toolbar>
    </v-card>
  </v-flex>
</v-layout>
  <v-container grid-list-md text-xs-center>
  <v-layout justify-center>

    <v-flex xs12 sm4 text-xs-center>
<v-card flat style="margin:100px 0px 20px 0px;" color="grey lighten-5">
      <v-card-text>
        <h1 class="title">Upgrade</h1>
        <p></p>
        <p>Ad free experience.</p>
        <p>All yours for a one-time $5 payment.</p>
      </v-card-text>
</v-card>
<form>
    <v-text-field
      label="Cardholder's Name"
      required
      prepend-icon="account_circle"
    ></v-text-field>
    <v-text-field
      label="Card Number"
      required
      prepend-icon="credit_card"
    ></v-text-field>

    <v-text-field
      label="MM/YYYY"
      required
      prepend-icon="calendar_today"
    ></v-text-field>
   <v-text-field
      label="CVC"
      required
      prepend-icon="lock"
    ></v-text-field>

    <v-card-text>
    <v-icon>lock</v-icon>
    128-bit secured
    </v-card-text>

    <v-btn color="primary">Upgrade</v-btn>
  </form>

    </v-flex>
  </v-layout>

    </v-container>

    <v-card  dark>
    <v-bottom-nav :value="true" fixed app>
      <v-btn dark to="Feed">
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn dark to="Search">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn dark to="Notifications">
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn dark to="Settings">
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-card>

  </v-app >
</template>
