<template>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
       <v-card-text>
         <p>Oh wow, look! It's a post!!</p>
       </v-card-text>

        <v-layout justify-end>
         <v-card-actions>
            <v-btn>Comment
              <v-icon>chat</v-icon>
            </v-btn>
            <v-btn>Like
              <v-icon>favorite</v-icon>
            </v-btn>
         </v-card-actions>
        </v-layout>

      </v-card>
    </v-flex>
</template>
